html {
    height: 100%;
}
body {
    background-image: linear-gradient(to bottom right, #141e30, #243b55 );
    background-repeat: no-repeat;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.fullcontact{
    width: 450px;
  height: 590px;
    background-color:#ffffff;
    
    margin:auto ;
    border-radius: 25px;
}
    
#imagen {
    width: 150px;
    margin: auto;
    
}
.cara {
    width: 150px;
    border-radius: 50%;
    margin-top: 20px;
    box-shadow: 0 0 10px 10px #243b5593 ;
}
.axel h1{
    text-align: center;
    margin-top: 50px;
    color: #243b55;
    
}


 

.contactinfo{
display: flex;
justify-content: center;
margin-top: 50px;
gap: 50px;


}



.instaddiv button{
    background: none;
    border: none;
    
}
.emaildiv{
    display: flex;
  
}

.insta {
    width: 40px;
    height: 40px;

}
.email {
    width: 40px;
    height: 40px;

}
.emaildiv button {
    background: none;
    border: none;
}

.whatsappddiv img { 
    width: 40px;
    height: 40px;
}
.whatsappddiv button {
    background: none;
    border: none;
}
.infoperso {
width: 300px;
margin: auto;
text-align: center;


}